body {
    overflow: hidden;
}

.movable {
    position: absolute;
    top: 100px;
    left: 100px;
}

.platform-top {
    position: absolute;
    border-top: 1px black solid;
}

.platform-right {
    position: absolute;
    border-right: 1px black solid;
}

.platform-bottom {
    position: absolute;
    border-bottom: 1px black solid;
}

.platform-left {
    position: absolute;
    border-left: 1px black solid;
}